@import 'partials/reset'
@import 'modules/mixins'
@import 'partials/opensans'
@import 'awesome/font-awesome'

// breakpoints
$mobile: 500px
$tablet: 1000px

html
    font-size: 4vw
// kartka A4: 210 x 297 mm
// 100 mm = 3,937 in
// kartka A4: 8.26 x 11.69in

body
    @include display(flex)
    justify-content: center
    background-color: lighten(black, 50%)
.container
    @include display(flex)
    font-family: open_sanslight, Arial, sans-serif
    flex-direction: column
    flex-wrap: wrap
    // border: 1px solid black

@media print
    html
        font-size: 7.5pt

    .container
        @include display(flex)
        flex-direction: row
        flex-wrap: nowrap
        width: 80rem
        // height: 114rem

@media screen and (min-width: 800px)
    html
        font-size: 10px
    .container
        @include display(flex)
        flex-direction: row
        flex-wrap: nowrap
        width: 80rem
        height: 114rem

@import 'partials/aside'
@import 'partials/main'
