aside > *
    margin: 1rem

aside
    @include display(flex)
    flex-direction: column
    align-items: center
    width: 25rem
    background-color: lighten(#000, 10%)
    color: #fff
    font-size: 1.5rem

    h1
        @include display(flex)
        flex-direction: column
        font-size: 5rem
        line-height: 5rem

        .lastname
            font-family: open

    i[class*=fa]
        font-size: 2rem
        margin-left: 1rem

    figure
        margin-top: 3rem
        width: 16rem
        height: 16rem
        overflow: hidden
        background-color: #fff
        border-radius: 50%

    h2
        font-size: 1.5rem
        border-bottom: 1px solid #fff
        margin: 1rem 0

    section
        width: 23rem
        margin-left: 3rem
        line-height: 3rem
        font-size: 1.25rem

    span
        padding: 1rem

    a
        color: #fff
        text-decoration: none

        &:hover
            color: #80ff44

    .contact
        @include display(flex)
        flex-direction: column


    .social
        @include display(flex)
        flex-direction: column

    .languages
        .lang
            @include display(flex)
            align-items: center
            line-height: 1.5rem
            margin: 1rem 0

        .lang .progress
            height: 3rem
            width: 3rem
            position: absolute
            top: -0.25rem
            left: -0.235rem

        figure
            display: inline-block
            margin: 0 1rem
            height: 2.5rem
            width: 2.5rem
            position: relative
            overflow: visible

        img
            filter: grayscale(60%)
            width: 2.5rem
            height: 2.5rem
            border-radius: 50%

        span
            margin: 0
            padding: 0
            font-size: 1rem
            color: darken(#fff, 30%)
